<p>This is how your cart is up right now</p>


<h3>Cart</h3>

<div *ngFor="let product of products">
  <span *ngIf="product.name">{{ product.name }}</span>
  <span *ngIf="product.price">{{ product.price }}</span>
</div>

