<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        <a [title]="product.name + ' details'">
            {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.price">
            Price: £ {{ product.price }} 
    </p>
    <button type="button" (click)="addToCart(product)">+</button>&nbsp;
    <button type="button" (click)="removeProduct(product)">-</button>&nbsp;
    <button type="button" (click)="resetShoppingCart()">Remove all</button>
</div>


<h2>ShoppingCart</h2>

<div *ngFor="let product of shoppingCart">
    <h3>
        <a [title]="product.name + ' details'">
            {{ product.counter }} X {{ product.name }}
        </a>
    </h3>

    <p *ngIf="product.price">
            Price: £ {{ product.finalPrice }} 
    </p>

    <button type="button" (click)="addToCart(product)">+</button>&nbsp;
    <button type="button" (click)="removeProduct(product)">-</button>&nbsp;
    <button type="button" (click)="resetShoppingCart()">Remove all</button>&nbsp;
    <button (click)="calculateTotalPrice()">Show the price:</button>
  
</div>
  <h1>
       Total: {{totalPrice}}
  </h1>